.hero-image { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Pictures/BannerImage.png");
    height: 500px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #b8c3d1;
}
#image-text {
    color: #b8c3d1;
}